<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/profile}" method = "post">
    <p>
        <label for="faveArtist">Enter your favorite artist:</label>
        <input type="text" name="faveArtist" id="faveArtist" /><br>
        <input type="text" name="faveArtistTwo" id="faveArtistTwo"/>
    </p>
    <input type="submit" value="Favorite Artist" />
</form>
<div th:if = "${faveArtist != null}">
    <ol>
        <li th:text="${faveArtist} "></li>
        <li th:text="${faveArtistTwo} "></li>
    </ol>
<!--    <p th:text="${'Your fav artist: 1. ' + faveArtist ' 2. ' + faveArtistTwo }"> </p>-->
</div>
</body>
</html>