<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2>GNOTION</h2>
<a href="/">Back to the Homepage</a>
<br>
<a href="/profile">Your Profile</a>

<div>
    <form th:action="@{/search}" method = "post">
        <input type="text" name="searchTerm" id="searchTerm" />
        <input type="submit" value="Search" />
    </form>
</div>

<br>
<div th:if = "${searchTerm != null}">
    <p th:text="${'You searched: ' + searchTerm}"></p>
</div>
<div>
    <form th:action="@{/profile}" method = "post">
<!--        <input th:field=${review.artist.name} /><br>-->
        <input th:field=${review.reviewText} /><br>
        <input type="submit" value="Submit" />
    </form>
</div>


</body>
</html>